.footer {
	padding:rem-calc(30 0);

	.title-area {
		margin-bottom:rem-calc(25);

		a {
			color:$primary-color;
		}

	}

}

.footer__widget {
	@include grid-column(12);

	h3 {
		margin-bottom:rem-calc(25);
	}

	@media #{$medium-up}{
		@include grid-column(4);
	}
}

.tagcloud {
	display:flex;
	flex-wrap:wrap;

	a {
		margin:rem-calc(10);
	}

	a:nth-of-type(odd){
		font-size:rem-calc(22);
	}
}

.footer__article {
	width:100%;
	clear:both;
	margin-bottom:rem-calc(10);

	h1 {
		font-size:rem-calc(22);
	}

	p {
		color:lighten($secondary-color, 40%);
	}
}

.footer__article__header {
	img {
		float:left;
		width:rem-calc(100);
		margin:rem-calc(0 8 8 0);
	}
}

.watb {
	margin-top:rem-calc(20);
	opacity:0.7;

	a {
		color:$secondary-color;
	}
}